<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izrbh.artists.mapper.RoleMapper">
    <select id="selectRoleList" resultType="com.izrbh.artists.entity.Role">
        SELECT
            r.id,
            r.code,
            r.name,
            r.description,
            r.enabled,
            r.not_expired,
            r.create_user,
            r.create_time,
            r.update_user,
            r.update_time

        FROM
            role r
        LEFT JOIN user_role_relation ur ON (r.id = ur.role_id)
        WHERE
            r.enabled = 1 and r.not_expired = 1 and ${ew.sqlSegment}
    </select>
</mapper>
